<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.ffeng.userInfo.infra.dal.dao.UserLoginDAO"
>

    <sql id="columns">
        t.`user_id`, t.`username`, t.`phone`, t.`email`, t.`encrypted_pwd`, t.`nickname`, t.`avatar_url`,
        t.`create_time`, t.`update_time`
    </sql>

    <sql id="table">
        `cu_user_info` t
    </sql>

    <select id="select" resultType="java.util.Map">
        select <include refid="columns"/>
        from <include refid="table"/>
    </select>

    <select id="countById" resultType="int">
        select count(*)
        from <include refid="table"/>
    </select>

</mapper>